<div class="main">
	<div class="tab">
		<p>About</p>
		<br>
		<p class="about"><u>Language Versions:</u>
		<br>&nbsp; CSS: 3
		<br>&nbsp; JavaScript: 1.8
		<br>&nbsp; Ruby: 2.3
		<br>&nbsp; Python: 3
		</p>
		<p>Please <u><a href="mailto:lukakerr1@gmail.com?Subject=Code%20snippet" target="_top">contact us</a></u> to submit a bug or for any other queries.</p>
		<p id="home-bottom"><span id="copyright">&copy;</span> Luka Kerr 2016. Built on Ruby &amp; PostgreSQL. | <%= link_to "About/Help", about_path %> | <%= link_to "Playground", playground_path %></p>
	</div>
</div>