<div id="main">
	<div class="playground">
		<div class="box">
			<p>HTML</p>
			<textarea id="html" data-code="html"></textarea>
		</div>
		<div class="box">
			<p>CSS</p>
			<textarea id="css" data-code="css"></textarea>
		</div>
		<div class="box">
			<p>JavaScript</p>
			<textarea id="js" data-code="js"></textarea>
		</div>
		<div class="box">
			<p id="output-text">Output</p>
			<iframe id="output" sandbox="allow-scripts allow-same-origin"></iframe>
		</div>
		<span>&nbsp;<small><i>Note</i>: We use HTML5 sandboxed iframes to display output. Even though other users cannot view your playground, we try to prevent malicious attacks both on our side and yours.</small></span>
	</div>
</div>
